@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  }
body{
    background-color: lavender;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}
.Nav{
    overflow: hidden;
    background-color: black;
    position: fixed;
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    height: 50px;
}
li{ 
    /* Đặt liên kết vào một hàng ngang */
    float: left;
    list-style-type: none;
    display: block;
    color: white; 
    text-align: center; 
    padding: 14px 14px 14px 14px; 
    
}
li a {
    text-decoration: none; 
    color: white;
}
li:hover{
    background-color: rgb(212, 131, 143);
}
.Active{
    position: relative;
    display: block;
}
button{
    user-select: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    font: inherit;
}
#more{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    background-color: #3e8e41;
}

.Active:hover.more {
    display: block;

}
.Active:active.more{
    display: block;
}
.slideshow{
        
        display: block;
        padding: 5% 0 0 ;
        width: 100%;
        max-width: 20000px; /* Điều chỉnh kích thước slider theo mong muốn */
        box-align: center;
        overflow: hidden;
        margin: 0 0 0  ;
    img{
        box-sizing:content-box;
        overflow: hidden;
        width: 100%;
    }
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    top: 20%;
  }
.mySlides {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
h1{
    text-align: center;
    color:black;
    font: Verdana;
    border-color: rgb(212, 131, 143) 5%;
}
.text{
    text-align: center;
    font: italic;
}
.buy{
    font: Arial ;
    font-size: 90%;
    margin-left: 30px;
}
.button1{
    border:1;
    border-radius: 10% 10% 10% 10%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font: inherit;
}
.button2{
    border: 1;
    border-radius: 10%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: rgb(253, 120, 72);
    text-align: center;
    cursor: pointer;
    font: inherit;
}